---
import {  Image , getImage } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import Banner from "../components/Banner.astro"
import Techstackbtn from '../components/techstack-buttons.astro'
import Techstack from '../components/techstack.astro'

import Arrowright from "../assets/images/arrow-right.png"
import Arrowleft from "../assets/images/arrow-left.png"


import Bannerbg1 from "../assets/images/banner-img-1.png"
import Bannerbg2 from "../assets/images/banner-img-2.png"
import Bannerbg3 from "../assets/images/banner-img-3.png"
import Bannerbg4 from "../assets/images/banner-img-4.png"

const BannerImg1 = await getImage({src: Bannerbg1})
const BannerImg2 = await getImage({src: Bannerbg2})
const BannerImg3 = await getImage({src: Bannerbg3})
const BannerImg4 = await getImage({src: Bannerbg4})


import BnnerMobile1 from '../assets/images/bnner-mobile-1.png'
import BnnerMobile2 from '../assets/images/bnner-mobile-2.png'
import BnnerMobile3 from '../assets/images/bnner-mobile-3.png'
import BnnerMobile4 from '../assets/images/bnner-mobile-4.png'
import BnnerMobile5 from '../assets/images/bnner-mobile-5.png'
import BnnerMobile6 from '../assets/images/bnner-mobile-6.png'
import BnnerMobile7 from '../assets/images/bnner-mobile-7.png'
import BnnerMobile8 from '../assets/images/bnner-mobile-8.png'
import BnnerMobile9 from '../assets/images/bnner-mobile-9.png'
import BnnerMobile10 from '../assets/images/bnner-mobile-10.png'
import BnnerMobile11 from '../assets/images/bnner-mobile-11.png'
import BnnerMobile12 from '../assets/images/bnner-mobile-12.png'


import Logo1 from "../assets/images/brand-logo/logo1.png"
import Logo2 from "../assets/images/brand-logo/logo2.png"
import Logo3 from "../assets/images/brand-logo/logo3.png"
import Logo4 from "../assets/images/brand-logo/logo4.png"
import Logo5 from "../assets/images/brand-logo/logo5.png"
import Logo6 from "../assets/images/brand-logo/logo6.png"


import Serimg from "../assets/images/our-ser-img.png"
import Serrightimg from "../assets/images/ourser-right-img.png"
import Sersvg1 from "../assets/images/ser-svgs/ser1.svg"
import Sersvg2 from "../assets/images/ser-svgs/ser2.svg"
import Sersvg3 from "../assets/images/ser-svgs/ser3.svg"


import Techstacksvg1 from '../assets/images/techstack-svgs/svg1.svg'
import Techstacksvg2 from '../assets/images/techstack-svgs/svg2.svg'
import Techstacksvg3 from '../assets/images/techstack-svgs/svg3.svg'
import Techstacksvg4 from '../assets/images/techstack-svgs/svg4.svg'
import Techstacksvg5 from '../assets/images/techstack-svgs/svg5.svg'
import Techstacksvg6 from '../assets/images/techstack-svgs/svg6.svg'
import Techstacksvg7 from '../assets/images/techstack-svgs/svg7.svg'

import Consultimg from "../assets/images/consult-img.png"
// import Consultlottie from "../assets/images/consult-lottie.png"

import TechstackImg from "../assets/images/techstack-right-img.png"

import Ourproimg from '../assets/images/our-process-img.png'
import Ourprosvg1 from '../assets/images/our-process-svgs/svg1.svg'
import Ourprosvg2 from '../assets/images/our-process-svgs/svg2.svg'
import Ourprosvg3 from '../assets/images/our-process-svgs/svg3.svg'
import Ourprosvg4 from '../assets/images/our-process-svgs/svg4.svg'

import Ctavrimg from '../assets/images/cta-vr-img.png'


---

<Layout title="landing-page">
	<main>

		<section class="banner-sec">
			<div class="swiper bnner-slider">
				<div class="swiper-wrapper">
					<div style=`background-image: url(${BannerImg1.src});` class="swiper-slide banner-layers">
						<Banner  para='We Are Rated Top' sectitle='App Development Company' secsbtitle='Prominent AR/VR App Company In USA' href1='#' href2='#' BannerImages={[ BnnerMobile1 , BnnerMobile2 , BnnerMobile3 ]} />
					</div>
					<div style=`background-image: url(${BannerImg2.src});` class="swiper-slide banner-layers">
						<Banner  para='We Are Rated Top' sectitle='App Development Company' secsbtitle='We build iOS & Android Apps that people love' href1='#' href2='#' BannerImages={[ BnnerMobile4 , BnnerMobile5 , BnnerMobile6 ]} />
					</div>
					<div style=`background-image: url(${BannerImg3.src});` class="swiper-slide banner-layers">
						<Banner  para='We Are Rated Top' sectitle='App Development Company' secsbtitle='Prominent AR/VR App Company In USA' href1='#' href2='#' BannerImages={[ BnnerMobile7 , BnnerMobile8 , BnnerMobile9 ]} />
					</div>
					<div style=`background-image: url(${BannerImg4.src});` class="swiper-slide banner-layers">
						<Banner  para='We Are Rated Top' sectitle='App Development Company' secsbtitle='We build iOS & Android Apps that people love' href1='#' href2='#' BannerImages={[ BnnerMobile10 , BnnerMobile11 , BnnerMobile12 ]} />
					</div>
				</div>	
				<div class="bnner-slider-btn-area">
					<button type="button" class="bnner-slider-btn prev-btn">
						<Image src={Arrowleft}  class={'img-fluid'} alt={'arrow-left'} />
					</button>
					<button type="button" class="bnner-slider-btn next-btn">
						<Image src={Arrowright}  class={'img-fluid'} alt={'arrow-right'} />
					</button>
				</div>
			</div>
		</section>

		<section class="logo-section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="logo-slider">
							<div class="swiper-wrapper">  
								<div class="logo-slider-layer swiper-slide">
									<Image src={Logo1} class={"img-fluid brand-logo"} alt={"brnd-logo-1"} />
								</div>
								<div class="logo-slider-layer swiper-slide">
									<Image src={Logo2} class={"img-fluid brand-logo"} alt={"brnd-logo-2"} />
								</div>
								<div class="logo-slider-layer swiper-slide">
									<Image src={Logo3} class={"img-fluid brand-logo"} alt={"brnd-logo-3"} />
								</div>
								<div class="logo-slider-layer swiper-slide">
									<Image src={Logo4} class={"img-fluid brand-logo"} alt={"brnd-logo-4"} />
								</div>
								<div class="logo-slider-layer swiper-slide">
									<Image src={Logo5} class={"img-fluid brand-logo"} alt={"brnd-logo-5"} />
								</div>
								<div class="logo-slider-layer swiper-slide">
									<Image src={Logo6} class={"img-fluid brand-logo"} alt={"brnd-logo-6"} />
								</div>
								<div class="logo-slider-layer swiper-slide">
									<Image src={Logo1} class={"img-fluid brand-logo"} alt={"brnd-logo-1"} />
								</div>
								<div class="logo-slider-layer swiper-slide">
									<Image src={Logo2} class={"img-fluid brand-logo"} alt={"brnd-logo-2"} />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="our-ser-sec">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-12 col-md-5">
						<div class="ser-stick-area">
							<div class="">
								<div class="ser-img-arae">
									<Image src={Serimg} class={"img-fluid our-ser-img"} alt={"our-ser"} />
									<div class="our-ser-lottie ser-lottie-img"></div>
								</div>
								<div class="flex-btn-area service justify-content-start">
									<div class="">
										<a href="#" class="primary-btn">
											<span class="primary-btn-icon">
												<i class="fa-solid fa-phone-volume"></i>
											</span>
											<span class="primary-btn-text">
												123-123-0000
											</span>
										</a>
									</div>
									<div class="">
										<a href="#" class="primary-btn btn-2">
											<span class="primary-btn-icon">
												<i class="fa-solid fa-phone-volume"></i>
											</span>
											<span class="primary-btn-text">
												live chat
											</span>
										</a>
									</div>
								</div>
							</div>
							<Image src={Serrightimg} class={"img-fluid ser-right-img"} alt={"ser-right-img"} />
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="services-list-area">
							<h3 class="para text-center text-white">Our Services</h3>
							<h1 class="sec-title text-center text-white mb-5">Mobile & Web App Development for Startups and Enterprises</h1>
							<div class="service-box">
								<h2 class="ser-count">01</h2>
								<div class="">
									<div class="d-flex justify-content-between">
										<h3 class="ser-title">iOS App <br> Development</h3>
										<Image src={Sersvg1} class={'img-fluid ser-svg'}  alt={'sersvg1'}/>
									</div>
									<p class="para-sm">We work together to lead to executing great ideas and even better outcomes.</p>
								</div>
							</div>
							<div class="service-box">
								<h2 class="ser-count">02</h2>
								<div class="">
									<div class="d-flex justify-content-between">
										<h3 class="ser-title">Android App <br> Development</h3>
										<Image src={Sersvg2} class={'img-fluid ser-svg'}  alt={'sersvg2'}/>
									</div>
									<p class="para-sm">We work together to lead to executing great ideas and even better outcomes.</p>
								</div>
							</div>
							<div class="service-box">
								<h2 class="ser-count">03</h2>
								<div class="">
									<div class="d-flex justify-content-between">
										<h3 class="ser-title">Cross-Platform <br> App Development</h3>
										<Image src={Sersvg3} class={'img-fluid ser-svg'}  alt={'sersvg3'}/>
									</div>
									<p class="para-sm">We work together to lead to executing great ideas and even better outcomes.</p>
								</div>
							</div>
							<div class="service-box">
								<h2 class="ser-count">04</h2>
								<div class="">
									<div class="d-flex justify-content-between">
										<h3 class="ser-title">iOS App <br> Development</h3>
										<Image src={Sersvg1} class={'img-fluid ser-svg'}  alt={'sersvg1'}/>
									</div>
									<p class="para-sm">We work together to lead to executing great ideas and even better outcomes.</p>
								</div>
							</div>
							<div class="service-box">
								<h2 class="ser-count">05</h2>
								<div class="">
									<div class="d-flex justify-content-between">
										<h3 class="ser-title">Android App <br> Development</h3>
										<Image src={Sersvg2} class={'img-fluid ser-svg'}  alt={'sersvg2'}/>
									</div>
									<p class="para-sm">We work together to lead to executing great ideas and even better outcomes.</p>
								</div>
							</div>
							<div class="service-box">
								<h2 class="ser-count">06</h2>
								<div class="">
									<div class="d-flex justify-content-between">
										<h3 class="ser-title">Cross-Platform <br> App Development</h3>
										<Image src={Sersvg3} class={'img-fluid ser-svg'}  alt={'sersvg3'}/>
									</div>
									<p class="para-sm">We work together to lead to executing great ideas and even better outcomes.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="results-section">
			<div class="container">
				<div class="row">
					<div class="col-6 col-md-4 col-lg-2">
						<div class="result-area">
							<h1 class="result-count m-0">15+</h1>
							<p class="para-sm m-0">Years of Experience</p>
						</div>
					</div>
					<div class="col-6 col-md-4 col-lg-2">
						<div class="result-area">
							<h1 class="result-count m-0">350+</h1>
							<p class="para-sm m-0">Apps Developed</p>
						</div>
					</div>
					<div class="col-6 col-md-4 col-lg-2">
						<div class="result-area">
							<h1 class="result-count m-0">20+</h1>
							<p class="para-sm m-0">Countries</p>
						</div>
					</div>
					<div class="col-6 col-md-4 col-lg-2">
						<div class="result-area">
							<h1 class="result-count m-0">90%</h1>
							<p class="para-sm m-0">Client Retention</p>
						</div>
					</div>
					<div class="col-6 col-md-4 col-lg-2">
						<div class="result-area">
							<h1 class="result-count m-0">100%</h1>
							<p class="para-sm m-0">Projects Delivered</p>
						</div>
					</div>
					<div class="col-6 col-md-4 col-lg-2">
						<div class="result-area">
							<h1 class="result-count m-0">175+</h1>
							<p class="para-sm m-0">Employees</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="consult-section">
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-7">
						<div class="consult-text-area">
							<h3 class="para-2 para text-center text-white mb-3">Just 15 mins of your time to see if we’re a good fit</h3>
							<h2 class="sec-sb-title sm-title text-center mb-5">Not sure which Service is right for you?</h2>
							<form action="">
								<div class="d-flex justify-content-center align-items-center">
									<div class="form-field-area">
										<input class="form-field" required placeholder="Email" type="email" name="" id="">
										<button type="submit" class="primary-btn-2 text-white">Consult Now</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="col-12 col-lg-5">
						<div class="consult-img-area">
							<Image src={Consultimg} class={"img-fluid consult-img"} alt={"consult-img"} />
							<!-- <Image src={Consultlottie} class={"img-fluid consult-lottie-img"} alt={"consult-lottie-img"} /> -->
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="hd-section">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="swiper hd-slider">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<h1 class="hd-sec-title">Our Developers Deliver Exceptional Results</h1>
								</div>
								<div class="swiper-slide">
									<h1 class="hd-sec-title">Our Developers Deliver Exceptional Results</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="techstack-section">
			<Image class={'img-fluid techstack-img'} src={TechstackImg} alt={"techsteck-img"}  /> 			
			<div class="container">
				<div class="row">
					<div class="">
						<div class="col-12">
							<h3 class="para color-blue">Techstack</h3>
							<h1 class="sec-title color-blue-2">Powerful Technological Expertise</h1>
						</div>	
						<div class="col-12">
							<ul class="techstack-btn-list">
								<li class="techstack-btn-area">
									<Techstackbtn dataview="Mobile" buttoncontent="mobile" classes="active" />
								</li>
								<li class="techstack-btn-area">
									<Techstackbtn dataview="Full-Stack" buttoncontent="Full Stack" classes="" />
								</li>
								<li class="techstack-btn-area">
									<Techstackbtn dataview="Database" buttoncontent="Database" classes="" />
								</li>
								<li class="techstack-btn-area">
									<Techstackbtn dataview="Backend" buttoncontent="Backend" classes="" />
								</li>
								<li class="techstack-btn-area">
									<Techstackbtn dataview="Block-Chain" buttoncontent="Block Chain" classes="" />
								</li>
							</ul>
						</div>
						<div class="col-12">
							<div data-content="Mobile" class="techstack-main active">
								<div class="techstecks-list-area">
									<Techstack techstacksvg={Sersvg1} />
									<Techstack techstacksvg={Techstacksvg1} />
									<Techstack techstacksvg={Techstacksvg2} />
									<Techstack techstacksvg={Techstacksvg3} />
									<Techstack techstacksvg={Techstacksvg4} />
									<Techstack techstacksvg={Techstacksvg5} />
									<Techstack techstacksvg={Techstacksvg6} />
									<Techstack techstacksvg={Techstacksvg7} />
								</div>
							</div>
							<div data-content="Full-Stack" class="techstack-main ">
								<div class="techstecks-list-area">
									<Techstack techstacksvg={Sersvg1} />
									<Techstack techstacksvg={Techstacksvg1} />
									<Techstack techstacksvg={Techstacksvg2} />
									<Techstack techstacksvg={Techstacksvg3} />
									<Techstack techstacksvg={Techstacksvg4} />
									<Techstack techstacksvg={Techstacksvg5} />
									<Techstack techstacksvg={Techstacksvg6} />
								</div>
							</div>
							<div data-content="Database" class="techstack-main ">
								<div class="techstecks-list-area">
									<Techstack techstacksvg={Sersvg1} />
									<Techstack techstacksvg={Techstacksvg1} />
									<Techstack techstacksvg={Techstacksvg2} />
									<Techstack techstacksvg={Techstacksvg3} />
									<Techstack techstacksvg={Techstacksvg4} />
									<Techstack techstacksvg={Techstacksvg5} />
									<Techstack techstacksvg={Techstacksvg6} />
									<Techstack techstacksvg={Techstacksvg7} />
									<Techstack techstacksvg={Sersvg1} />
								</div>
							</div>
							<div data-content="Backend" class="techstack-main ">
								<div class="techstecks-list-area">
									<Techstack techstacksvg={Sersvg1} />
									<Techstack techstacksvg={Techstacksvg1} />
									<Techstack techstacksvg={Techstacksvg2} />
									<Techstack techstacksvg={Techstacksvg3} />
									<Techstack techstacksvg={Techstacksvg4} />
									<Techstack techstacksvg={Techstacksvg5} />
								</div>
							</div>
							<div data-content="Block-Chain" class="techstack-main ">
								<div class="techstecks-list-area">
									<Techstack techstacksvg={Sersvg1} />
									<Techstack techstacksvg={Techstacksvg1} />
									<Techstack techstacksvg={Techstacksvg2} />
									<Techstack techstacksvg={Techstacksvg3} />
									<Techstack techstacksvg={Techstacksvg4} />
									<Techstack techstacksvg={Techstacksvg5} />
									<Techstack techstacksvg={Techstacksvg6} />
									<Techstack techstacksvg={Techstacksvg7} />
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="flex-btn-area justify-content-center">
								<div class="">
									<a href="#" class="primary-btn ">
										<span class="primary-btn-icon text-black">
											<i class="fa-solid fa-phone-volume"></i>
										</span>
										<span class="primary-btn-text text-black">
											123-123-0000
										</span>
									</a>
								</div>
								<div class="">
									<a href="#" class="primary-btn btn-2 ">
										<span class="primary-btn-icon text-black">
											<i class="fa-brands fa-rocketchat"></i>
										</span>
										<span class="primary-btn-text text-black">
											live chat
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="our-process-section">
			<div class="container">
				<div class="row ">
					<div class="col-12 col-lg-4 px-lg-0">
						<div class="our-pro-area">
							<svg xmlns="http://www.w3.org/2000/svg" class="our-ser-brdr-svg" width="466.5" height="240.261" viewBox="0 0 466.5 240.261">
								<path id="Path_11471" data-name="Path 11471" d="M-5948,2863.225c0-56.609,49.333-56.558,49.333-56.558h144s45.928,11.728,45.928,56.558v321.592s-6.909,41.516-45.928,41.516H-5948v46.335" transform="translate(-2806.167 -5708.238) rotate(-90)" fill="none" stroke="#48aaad" stroke-width="1" />
							</svg>
							<Image class={'img-fluid our-pro-svg'} src={Ourprosvg1} alt={'our pro svgs'} />
							<h1 class="our-pro-no">01</h1>
							<h2 class="our-pro-title mb-4">Inspired Ideation</h2>
							<p class="para-sm text-black">Collaborate with our expert team to brainstorm and refine your app concept, ensuring it aligns with your business goals and user expectations.</p>
						</div>
						<div class="our-pro-area">
							<svg xmlns="http://www.w3.org/2000/svg" class="our-ser-brdr-svg" width="466.5" height="240.261" viewBox="0 0 466.5 240.261">
								<path id="Path_11471" data-name="Path 11471" d="M-5948,2863.225c0-56.609,49.333-56.558,49.333-56.558h144s45.928,11.728,45.928,56.558v321.592s-6.909,41.516-45.928,41.516H-5948v46.335" transform="translate(-2806.167 -5708.238) rotate(-90)" fill="none" stroke="#48aaad" stroke-width="1" />
							</svg>
							<Image class={'img-fluid our-pro-svg'} src={Ourprosvg3} alt={'our pro svgs'} />
							<h1 class="our-pro-no">02</h1>
							<h2 class="our-pro-title mb-4">Design & Development</h2>
							<p class="para-sm text-black">Collaborate with our expert team to brainstorm and refine your app concept, ensuring it aligns with your business goals and user expectations.</p>
						</div>	
					</div>
					<div class="col-12 col-lg-4 px-lg-0">
						<div class="our-pro-center-area">
							<h1 class="sec-title text-center color-blue-2">Our Process</h1> 	
							<h3 class="para text-center color-blue ">Our process ensures your vision turns into a digital reality.</h3>
							<div class="our-pro-img-area">
								<Image class={'img-fluid our-pro-img'} src={Ourproimg} alt={'our pro img'} />
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-4 px-lg-0	">
						<div class="our-pro-area our-pro-right">
							<svg xmlns="http://www.w3.org/2000/svg" class="our-ser-brdr-svg" width="466.5" height="240.261" viewBox="0 0 466.5 240.261">
								<path id="Path_11471" data-name="Path 11471" d="M0,409.442C0,466.051,49.333,466,49.333,466h144s45.928-11.728,45.928-56.558V87.85s-6.909-41.516-45.928-41.516H0V0" transform="translate(0 239.761) rotate(-90)" fill="none" stroke="#48aaad" />
							</svg>
							<Image class={'img-fluid our-pro-svg'} src={Ourprosvg2} alt={'our pro svgs'} />
							<h1 class="our-pro-no">03</h1>
							<h2 class="our-pro-title mb-4">Testing & Refinement</h2>
							<p class="para-sm text-black">Collaborate with our expert team to brainstorm and refine your app concept, ensuring it aligns with your business goals and user expectations.</p>
						</div>
						<div class="our-pro-area our-pro-right">
							<svg xmlns="http://www.w3.org/2000/svg" class="our-ser-brdr-svg" width="466.5" height="240.261" viewBox="0 0 466.5 240.261">
								<path id="Path_11471" data-name="Path 11471" d="M0,409.442C0,466.051,49.333,466,49.333,466h144s45.928-11.728,45.928-56.558V87.85s-6.909-41.516-45.928-41.516H0V0" transform="translate(0 239.761) rotate(-90)" fill="none" stroke="#48aaad" stroke-width="1"/>
							</svg>
							<Image class={'img-fluid our-pro-svg'} src={Ourprosvg4} alt={'our pro svgs'} />
							<h1 class="our-pro-no">04</h1>
							<h2 class="our-pro-title mb-4">Launch & Optimize</h2>
							<p class="para-sm text-black">Collaborate with our expert team to brainstorm and refine your app concept, ensuring it aligns with your business goals and user expectations.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="cta-section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="cta-area position-relative">
							<div class="row">
								<div class="col-12 col-lg-6">
									<h1 class="sec-title text-white mb-4">Want to strike a cost balance <br> in app development?</h1>
									<p class="para text-white mb-5">Download costs on app development based on all factors to consider</p>
									<form action="" class="mt-5">
										<div class="form-field-area">
											<input class="form-field" required placeholder="Phone #" type="number" name="" id="">
											<button type="submit" class="primary-btn-2 text-white">Consult Now</button>
										</div>
									</form>
								</div>
								<div class="col-12 col-lg-6">
									<Image class={'img-fluid cta-vr-img'} src={Ctavrimg} alt={'cta vr img'} /> 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>

	<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


</Layout>



